# Database creds
DATABASE_URL=postgresql://postgres:password@db:5432/gamedar

# IGDB creds
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=

# Anthropic creds
ANTHROPIC_API_KEY=

NEXT_PUBLIC_APP_URL=http://localhost:3000